<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCijEbAn6FE4TxjBm7W2BbeW1MMetlb9Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>886608987793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.glucolifeProyecto.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>glucolife-d4f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>glucolife-d4f1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886608987793:ios:84a3b4af2ac29f72e72130</string>
</dict>
</plist>